
<div class="container">
<hr>
<h1>Edit Image</h1>
<%= image_tag(@image.photo.url, class: 'media-object') %>
<hr>
<%= form_for @image do |form| %>
  <%= form.label 'Image Title' %>
  <%= form.text_field :name %>
  <br/>
  <%= form.file_field :photo %>
<br/>
  <%= form.submit "Edit Image" %>
<% end %>
</div>
